{{> head}}
{{> navbar}}
<main>
    <h1>{{ translate 'error.404' }}</h1>
    <p>{{ translate 'error.message' }}</p>
    <a href="{{@website.url}}">
        {{ translate 'error.button' }}
    </a>
</main>
{{> footer}}